* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

input,
label {
  display: block;
}

label {
  color: green;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input {
  width: 100%;
}

.submit {
  margin: 15px auto 0 auto;
  width: 40%;
  background-color: rgb(189, 138, 236);
  border-radius: 5px;
}

form {
  margin: auto;
  min-width: 300px;
  max-width: 500px;
  border: 2px solid black;
  padding: 10px;
}
